* {
  background-color: #1b1b1b;
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 2%;
  font-size: xx-large;
  background-color: #3a3935;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 16px;
  background-color: #3a3935;
}

footer p {
  background-color: #3a3935;
}

button {
  background-color: #3a3935;
  text-align: center;
  padding: 15px;
  width: 100%;
}

div {
    background-color: white;
}

.mode, .error {
    background-color: #202020;
    color: red;
}

.body {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 300px;
    background-color: #202020;
    padding: 30px;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    background-color: #202020;
}

.grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    background-color: white;
}

.grid-item {
    user-select: none;
}
